<nav>
  <div class="container nav-inner">
    <a class="brand" href="{{ '/' | relative_url }}">{{ site.name }}</a>
    <ul>
      <li><a href="{{ '/' | relative_url }}#about">About</a></li>
      <li><a href="{{ '/' | relative_url }}#experience">Experience</a></li>
      <li><a href="{{ '/' | relative_url }}#education">Education</a></li>
      <li><a href="{{ '/' | relative_url }}#certificates">Certificates</a></li>
      <li><a href="{{ '/' | relative_url }}#skills">Skills</a></li>
      <li><a href="{{ '/' | relative_url }}#projects">Projects</a></li>
      <li><a href="{{ '/' | relative_url }}#publications">Publications</a></li>
    </ul>
  </div>
</nav>